* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #3d3b40;
  color: #888;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.generator-box {
  background-color: #515053;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

textarea {
  flex-grow: 1;
  min-height: 100px;
  padding: 0.5rem;
  border: 2px solid #525ceb;
  border-radius: 0.25rem;
  background-color: #3d3b40;
  color: #f8edff;
  font-family: Arial, sans-serif;
  resize: vertical;
  width: 100%;
  min-width: 200px;
}

select,
button {
  /* width: 30px; */
  text-align: center;
  padding: 0.5rem;
  border: 2px solid #525ceb;
  border-radius: 0.25rem;
  background-color: #3d3b40;
  color: #f8edff;
  cursor: pointer;
  width: 150px;
  height: 40px;

}

button {
  background-color: #525ceb;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #4450f8;
}

.result-section {
  margin-top: 2rem;
  overflow-x: auto;
}

.result-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#asciiResult {
  background-color: #3d3b40;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: pre;
  font-family: monospace;
  overflow-x: auto;
  min-height: 100px;
  max-height: 400px;
  width: 100%;
  border: 2px solid #525ceb;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #f8edff;
  font-weight: 500;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #525ceb;
  color: #f8edff;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-buttons {
  display: flex;
  justify-content: end; /* Centers horizontally */
  gap: 10px;
}

.button:hover {
  background-color: #4450f8;
}

/* Error page */

p {
  margin-bottom : 60px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

#main {
  display: table;
  width: 100%;
  text-align: center;
}

.animationTyping h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

h1 {
  width: auto;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  /* display: inline-bock; */
  padding-right: 12px;
  animation: type .5s alternate infinite;
  margin-left: 0px;
}

.animated-head {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
}

img {
  margin-top: 160px;
}

@keyframes type {
  from {
      box-shadow: inset -3px 0px 0px #888;
  }

  to {
      box-shadow: inset -3px 0px 0px transparent;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  .input-group {
    flex-wrap: nowrap;
  }

  textarea {
    width: auto;
  }
}