<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />

</head>

<body>
    <div id="main">
        <div class="animationTyping">
            <img src="https://cdn-icons-png.freepik.com/256/10633/10633319.png?semt=ais_hybrid" alt="crying computer" /><br/>
            <h1>Error 404</h1>
            <p>{{.Message}} </p>
            <a href="/"><button type="button">&#8634; back to homepage</button></a>
        </div>
    </div>



</body>

</html>