<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Icons styling-->
</head>

<body>
    <div class="container">
        <header class="animated-head">
            <h1>{{.Title}}</h1>
        </header>

        <div class="generator-box">
            <form action="/ascii-art" method="post">
                <div class="input-group">
                    <textarea name="text" placeholder="Enter your text here" maxlength="2000">{{.InputText}}</textarea>
                </div>
                <div class="submit-buttons">
                    <select name="style">
                        <option value="standard" {{if eq .StyleUsed "standard" }}selected{{end}}>Standard</option>
                        <option value="thinkertoy" {{if eq .StyleUsed "thinkertoy" }}selected{{end}}>Thinkertoy</option>
                        <option value="shadow" {{if eq .StyleUsed "shadow" }}selected{{end}}>Shadow</option>
                        <option value="hy" {{if eq .StyleUsed "hy" }}selected{{end}}>hy</option>
                    </select>
                    <button type="submit"><i class="fa fa-cogs"></i> Generate</button>
                </div>
            </form>

            <div class="result-section">
                <h2>Generated ASCII Art</h2>
                <pre id="asciiResult">{{if .Error}}{{.Error}}{{else}}{{.AsciiArt}}{{end}}</pre>
                {{if .AsciiArt}}
                <div style="margin-top: 15px">
                    <form action="/download" method="post">
                        <div class="submit-buttons">
                            <textarea name="asciiArt" hidden>{{.AsciiArt}}</textarea>
                            <select name="fileType">
                                <option value="txt" selected>.txt</option>
                                <option value="doc">.doc</option>
                                <option value="html">.html</option>
                            </select>
                            <button type="submit"><i class="fa fa-download"></i> Download</button>
                        </div>
                    </form>
                </div>
                <br />
                {{end}}
            </div>
        </div>
    </div>

    <!-- <footer class="footer">&copy; All Rights Reserved to Anass Lazaar</footer> -->
</body>

</html>